body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 10%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff;
}

.form {
    margin-top: 30px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.form h2{
    color:#fff
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

.back {
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;

}

.back a {
    color: #fff;
    text-decoration: none;
}

.back a:hover {
    text-decoration: underline;
}
