/* # 233C7B , # 000000  , # EFA828 : */
*{
    margin: 0;
    padding: 0;

}
body, html{
    overflow: hidden;
}
.hai {
    width: 100%;
    height: 109vh;
    background-image: url('../images/loging3.jpg');
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("../images/background.jpg"); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0)50%, rgba(0,0,0,0)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
    animation: infiniteScrollBg 50s linear infinite;
}
.navbar{
    width: 80%;
    height: 75px;
    margin: auto;
}

.icon{
    width:200px;
    float: left;
    height : 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 60px;
    float:left;
    padding-top: 10px;

}
.navbar {
    width: 80%;
    height: 75px;
    /* margin: auto; */
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to start and end */
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-end; /* Align menu items to the right */
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu ul li {
    margin-left: 126px; /* Adjust the margin as needed */
}

.adminbtn {
    width: 150px;
    height: 40px;
    background: #3DEBB0;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}

.adminbtn a {
    text-decoration: none;
    color: black;
}


ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 16px;

}

ul li a{
    text-decoration: none;
    color: #233C7B;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color:#cc7402;

}
.search{
    width:330px;
    float:left;
    margin-left: 270px;

}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 15px;
    float:left;
    
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border :2px solid black;
    margin-top: 13px;
    color:white;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

.content{
    width:1200px;
    height:auto;
    margin: auto;
    color:black;
    font-style: bold;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: black;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: black;
}


.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(0, 0, 0); 
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;

}

.content .cn a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}




.content span{
    color:#ff7200;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 400px;
    background-color: white;
    position: absolute;
    top:-20px;
    left: 870px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.form h2{
    width:220px;
    font-family: sans-serif;
    text-align: center;
    color: #233C7B;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}

.form input{
    width: 240px;
    height: 35px;
    border-top: none;
    border-right: none;
    border-left:none;
    color:black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}

::placeholder{
    color:rgb(175, 175, 175);
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #233C7B;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 23px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.login-btn {
    color: white; /* Change this to the desired text color */
    background-color: #ff7200; /* Optional: to ensure the background color matches */
}

.btnn:hover{
    background:  #233C7B;
    color:white;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: black;
}

.form .link a{
    text-decoration: none;
    color:#EFA828
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: #fff;
}

.icon ion-icon{
    color:#fff;
    font-size: 30px;
   
    padding-left: 5px;
    padding-top: 5px;
    transition: 0.3s ease;

}

.icon ion-icon:hover{
    color: #ff7200;
}

.liw{
    color: #fff;
}


.navbar .logo img {
    width: 120px;
}
